@tailwind base;
@tailwind components;
@tailwind utilities;

.glass{
  backdrop-filter: blur(50px);
  box-shadow: 0px 0px 5px rgba(227,228,237,0.37) ;
  border:2px solid rgba(255,255,255,0.18);
  color: white;
}